BasedOnStyle: google
Language: Proto
ColumnLimit: 130
IndentWidth: 2
SpacesBeforeTrailingComments: 1
PenaltyBreakComment: 10
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
